DATABASE_URL=sqlite:///./nit.db

SECRET_KEY=ключ_какой_то_нужно_сгенерировать
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

ADMIN_USERNAME=nekiyadmin
ADMIN_PASSWORD=nekiyparol
ADMIN_SECRET_KEY=ключ_какой_то_нужно_сгенерировать

SESSION_SECRET_KEY=ключ_какой_то_нужно_сгенерировать